table {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;

    border: 2px solid green;
    border-radius: 6px;
    border-collapse: collapse;
    
    box-shadow: 0 0 10px yellowgreen;
}

tbody {
    min-width: 785px;
    font-size: 16px;
}

tr th {
    height: 30px;
    text-align: center;
}

td {
    text-align: center;
}

tr > td {
    height: 35px;
    border-right: 1px solid green;
}

tr > td:first-child {
    width: 53px;
}

tr > td:nth-child(2) {
    width: 110px;
}

tr > td:nth-child(3) {
    width: 120px;
}

tr > td:last-child {
    width: 420px;
    font-family: 'Pattaya';
    font-size: 17px;
}

tr {
    border-bottom: 1px solid green;
}

tr:not(.table-header):hover {
    cursor: pointer;
    background-color:#FFFACD;
}