.test-block {
    display: flex;
}

h2, h3, .test-header {
    text-align: center;
}

.test-body {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.test-header span {
    font-size: 20px;
}

.verb-infinitive, .verb-russian {
    margin-left: 15px;
}

.verb-russian {
    font-family: 'Pattaya'
}

.verb-russian::before {
    content: "(";
}

.verb-russian::after {
    content: ")";
}

.test-test {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 500px;
    margin-top: 40px;
}

.test-test label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.test-test input {
    margin-bottom: 0;
}

.test-test input.error {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

hr {
    border-bottom: 1px solid yellowgreen;
    width: 100%;
}

.alternate-test {
    border: 1px solid yellowgreen;
    padding: 25px;
    border-radius: 15px;
}