h2, h3, .test-header {
    text-align: center;
}

.test-body {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.test-header span {
    font-size: 20px;
}

.verb-infinitive, .verb-russian, .verb-perfect, .verb-simple {
    margin-left: 15px;
}

.verb-russian {
    font-family: 'Pattaya'
}

.verb-russian.no-brakets {
    font-size: 23px;
}

.verb-russian:not(.no-brakets)::before {
    content: "(";
}

.verb-perfect::before, .verb-simple::before {
    content: "/ ";
}

.verb-russian:not(.no-brakets)::after {
    content: ")";
}

.test-test {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 500px;
    margin-top: 40px;
}

.test-top {
    position: relative;
}

.test-counter {
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.test-test label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.test-test input {
    margin-bottom: 0;
}

.test-test input.error {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

hr {
    border-bottom: 1px solid yellowgreen;
    width: 100%;
}

.test-block {
    width: 1000px;
    border: 1px solid yellowgreen;
    margin-bottom: 75px;
    padding: 25px;
    border-radius: 15px;
}

@media screen and (max-width: 450px) {
    .test-block {
        width: 350px;
        height: 685px;
        margin-left: 35px;
    }

    .timer-block {
        text-align: center;
        font-size: 15px;
    }

    .test-test {
        width: 350px;
    }

    .test-test label {
        flex-direction: column;
    }

    .test-body {
        margin-top: 60px;
        border-top: 1px solid yellowgreen;
        padding-top: 15px;
    }

    .test-counter {
        font-size: 20px;
        position: absolute;
        top: 175px;
        left: 113px;
    }

    .test-counter.speed-test {
        top: 200px;
    }
}